//main: admicos3.scss

$mainColorLighter: #E8EAF6; //Material Indigo 50
$mainColor:        #3F51B5; //Material Indigo 500
$mainColorDarker:  #283593; //Material Indigo 800

$secondColorLighter: #FFCC80; //Material Orange 200
$secondColor:        #FF9800; //Material Orange 500
$secondColorDarker:  #F57C00; //Material Orange 700

$white: #FAFAFA; //Material Grey 50
$text:  #424242; //Material Grey 800

$unsub:        #D32F2F; //Material Red 700
$unsubPressed: #B71C1C; //Material Red 900

$sub:        #43A047; //Material Green 600
$subPressed: #1B5E20; //Material Green 900

$sticky: #C8E6C9; //Material Green 100
